global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy

  tune.ssl.default-dh-param 2048

  # generated 2026-06-08, TLSRef Guideline v6.0, HAProxy 3.0, OpenSSL 4.0.0, modern config, HSTS
  # https://configurator.tlsref.org/#server=haproxy&version=3.0&config=modern&openssl=4.0.0&hsts&guideline=6.0
  ssl-default-bind-curves X25519MLKEM768:X25519:prime256v1:secp384r1
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-bind-options prefer-client-ciphers ssl-min-ver TLSv1.3 no-tls-tickets
  ssl-default-server-curves X25519MLKEM768:X25519:prime256v1:secp384r1
  ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-server-options ssl-min-ver TLSv1.3 no-tls-tickets


defaults
  mode http
  option httplog
  option dontlognull
  option forwardfor
  option http-server-close

  # Turn on logs for all groups.
  log global
  # Specify where to send those logs and how to format them.
  log /dev/log local0 info

  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

  compression algo gzip
  compression type text/html text/plain text/css application/javascript

frontend proxy
  bind {{ ipv4_address }}:80
  bind {{ ipv4_address }}:443 ssl crt /opt/certs/ alpn h2,http/1.1
  bind {{ ipv6_address }}:80 v6only
  bind {{ ipv6_address }}:443 v6only ssl crt /opt/certs/ alpn h2,http/1.1

  # Tag requests for ACME certificate challenges
  acl acme_acl path_beg /.well-known

  # Block HTTP requests to direct IPs. Must use FQDN.
  acl no_fqdn req.hdr(host) -m ip {{ ipv4_address }} {{ ipv6_address }}
  http-request deny status 400 if no_fqdn

  http-request set-header X-Forwarded-Proto https if { ssl_fc }
  http-request set-header X-Forwarded-Proto http if !{ ssl_fc }
  redirect scheme https code 308 if !{ ssl_fc } !acme_acl

  # Remove outgoing header that identifies the backend HTTP server.
  http-response del-header Server

  default_backend web
  use_backend acme_lego if acme_acl

backend web
  server server1 10.0.0.5:80

backend acme_lego
  server lego 127.0.0.1:9999
